@page "/"

@using MvvmBlazor.Components
@using MarkOfFlare.Components
@using MarkOfFlare.ViewModel

@inherits MvvmComponentBase
@inject IJSRuntime JsWindow
@inject IFlareWizarClaimViewModel ViewModel

<h3>Flare</h3>

<Wizard Progress="@ViewModel.Progress" PreviousButtonDisabled="@ViewModel.PreviousButtonDisabled"
        NextButtonDisabled="@ViewModel.NextButtonDisabled"
        GoToPreviousStep="@ViewModel.GoToPreviousStep" GoToNextStep="@ViewModel.GoToNextStep">
    <WizardInputCard WizardStep="1" CurrentStep="@ViewModel.CurrentStep"
                     CardHeader="Step 1 of 2"
                     CardTitle="Welcome to the Framingham CVD 10 Year Risk Calculator"
                     CardText="Please select your gender to start the calculator">
       <XrpKeyDeriviation />
    </WizardInputCard>
    <WizardInputCard WizardStep="2" CurrentStep="@ViewModel.CurrentStep"
                     CardHeader="Step 2 of 2"
                     CardTitle="Welcome to the Framingham CVD 10 Year Risk Calculator"
                     CardText="Please select your gender to start the calculator">
       <FlareSigning />
    </WizardInputCard>
</Wizard>
