@using MvvmBlazor.Components
@using Interfaces

@inherits MvvmComponentBase
@inject IJSRuntime JsWindow

<h3>XRP Key deriviation</h3>

<p>
    <input @bind="@ViewModel.Mnemonic" /> mnemonic: @ViewModel.Mnemonic
</p>
<p>
    <input @bind="@ViewModel.Password" /> optional password: @ViewModel.Password
</p>
<p>
    <button @onclick="@ViewModel.DeriveKeys" disabled="@ViewModel.IsKeyDeriviationDisabled" type="button" class="btn btn-primary">
        Derive keys
    </button>
</p>

<p>XRP address: @ViewModel.Address</p>

@functions{
    [Parameter]
    public IXrpKeyDeriviationViewModel ViewModel { get; set; } }
}