@using MvvmBlazor.Components
@using Interfaces

@inherits MvvmComponentBase
@inject IJSRuntime JsWindow

    <div class="jumbotron">

        <div class="row row-no-gutters">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="oi oi-book"></span>
                    </span>
                </div>
                <input @oninput="@(args => ViewModel.Mnemonic = (string)args.Value)" class="form-control" placeholder="Mnemonic seed words" />
            </div>
        </div>
        <br>
        <div class="row row-no-gutters">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="oi oi-book"></span>
                    </span>
                </div>
                <input @oninput="@(args => ViewModel.Password = (string)args.Value)" class="form-control" placeholder="Optional password" />
            </div>
        </div>
        <br>
        <div class="row">
            <button @onclick="@ViewModel.DeriveKeys" disabled="@ViewModel.IsKeyDeriviationDisabled" type="button" class="btn btn-primary">
                Derive keys
            </button>
        </div>
        <br>

        <p>XRP address: @ViewModel.Address</p>
    </div>

    @functions{
        [Parameter]
        public IXrpKeyDeriviationViewModel ViewModel { get; set; } }
    }
