@using MvvmBlazor.Components
@inherits MvvmComponentBase

@inject ViewModel.IXrpKeyDeriviationViewModel ViewModel
@inject IJSRuntime JsWindow

<h3>XRP Key deriviation</h3>

<p>
    <input @bind="@ViewModel.Mnemonic" /> mnemonic: @ViewModel.Mnemonic
</p>
<p>
    <input @bind="@ViewModel.Password" /> optional password: @ViewModel.Password
</p>
<p>
    <button @onclick="@ViewModel.DeriveKeys" type="button" class="btn btn-primary">
        Derive keys
    </button>
</p>

<p>XRP address: @ViewModel.Address</p>
